apiVersion: v1
kind: Service
metadata:
  name: {{boss__fluent__bit__centralized__shared_name}}
  namespace: {{boss__fluent__bit__centralized__namespace_name}}
{% if boss__fluent__bit__centralized__service_labels is defined %}
  labels:
{{ boss__fluent__bit__centralized__service_labels | indent( width=4, indentfirst=True,blank=True) }}
{% endif %}
{% if boss__fluent__bit__centralized__service_annotations is defined %}
  annotations:
{{ boss__fluent__bit__centralized__service_annotations | indent( width=4, indentfirst=True,blank=True) }}
{% endif %}
spec:
  type: {{boss__fluent__bit__centralized__service_spec_type}}
{% if boss__fluent__bit__centralized__service_spec_ports is defined %}
  ports:
{{ boss__fluent__bit__centralized__service_spec_ports | indent( width=4, indentfirst=True,blank=True) }}
{% endif %}
{% if boss__fluent__bit__centralized__service_spec_selector is defined %}
  selector:
{{ boss__fluent__bit__centralized__service_spec_selector | indent( width=4, indentfirst=True,blank=True) }}
{% endif %}
