#!/usr/bin/env bash

# SOURCE: https://docs.cert-manager.io/en/latest/tasks/issuers/setup-ca.html

# Generate a CA private key
env PATH="/usr/local/opt/openssl/bin:$PATH" openssl genrsa -out {{ boss__certmanager__manifest_path | expanduser }}/ca.key 2048 && \
# Create a self signed Certificate, valid for 10yrs with the 'signing' option set
env PATH="/usr/local/opt/openssl/bin:$PATH" openssl req -x509 -new -nodes -key {{ boss__certmanager__manifest_path | expanduser }}/ca.key -subj "/CN=*.{{domain_root}}" -days 3650 -reqexts v3_req -extensions v3_ca -out {{ boss__certmanager__manifest_path | expanduser }}/ca.crt


# s:/C=US/ST=Texas/L=Carrollton/O=Woot Inc/CN=*.woot.com
# i:/C=US/O=SecureTrust Corporation/CN=SecureTrust CA


cat <<EOF > {{ boss__certmanager__manifest_path | expanduser }}/my-cluster-ca-key-pair-secret.yaml
apiVersion: v1
kind: Secret
metadata:
  name: my-cluster-ca-key-pair
  namespace: {{boss__certmanager__my_cluster_namespace_name}}
type: kubernetes.io/tls
data:
  cert: $(/bin/cat {{ boss__certmanager__manifest_path | expanduser }}/ca.crt | base64 -w0)
  key: $(/bin/cat {{ boss__certmanager__manifest_path | expanduser }}/ca.key | base64 -w0)
EOF
