---
kind: PersistentVolumeClaim
apiVersion: v1
metadata:
  name: grafana-pvc
  namespace: monitoring
{% if boss__prometheus__operator__grafana_pvc_labels is defined %}
  labels:
{{ boss__prometheus__operator__grafana_pvc_labels | indent( width=4, indentfirst=True,blank=True) }}
{% endif %}
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: "{{ boss__prometheus__operator__grafana_pvc_spec_storageClassName }}"
  resources:
    requests:
      storage: "{{ boss__prometheus__operator__grafana_pvc_spec_resources_requests_storage }}"
---
apiVersion: v1
kind: PersistentVolume
metadata:
  name: grafana-pv
  namespace: monitoring
{% if boss__prometheus__operator__grafana_pv_labels is defined %}
  labels:
{{ boss__prometheus__operator__grafana_pv_labels | indent( width=4, indentfirst=True,blank=True) }}
{% endif %}
spec:
  capacity:
    storage: {{boss__prometheus__operator__grafana_pv_spec_capacity_storage}}
  accessModes:
    - ReadWriteMany
{% if boss__prometheus__operator__grafana_pv_spec_nfs is defined %}
  nfs:
{{ boss__prometheus__operator__grafana_pv_spec_nfs | indent( width=4, indentfirst=True,blank=True) }}
{% endif %}

---
kind: PersistentVolumeClaim
apiVersion: v1
metadata:
  name: prometheus-adapter-tmpfs-pvc
  namespace: monitoring
{% if boss__prometheus__operator__prometheus_adapter_tmpfs_pvc_labels is defined %}
  labels:
{{ boss__prometheus__operator__prometheus_adapter_tmpfs_pvc_labels | indent( width=4, indentfirst=True,blank=True) }}
{% endif %}
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: "{{ boss__prometheus__operator__prometheus_adapter_tmpfs_pvc_spec_storageClassName }}"
  resources:
    requests:
      storage: "{{boss__prometheus__operator__prometheus_adapter_tmpfs_pvc_spec_resources_requests_storage}}"
---
apiVersion: v1
kind: PersistentVolume
metadata:
  name: prometheus-adapter-tmpfs-pv
  namespace: monitoring
{% if boss__prometheus__operator__prometheus_adapter_tmpfs_pv_labels is defined %}
  labels:
{{ boss__prometheus__operator__prometheus_adapter_tmpfs_pv_labels | indent( width=4, indentfirst=True,blank=True) }}
{% endif %}
spec:
  capacity:
    storage: {{boss__prometheus__operator__prometheus_adapter_tmpfs_pv_spec_capacity_storage}}
  accessModes:
    - ReadWriteMany
{% if boss__prometheus__operator__prometheus_adapter_tmpfs_pv_spec_nfs is defined %}
  nfs:
{{ boss__prometheus__operator__prometheus_adapter_tmpfs_pv_spec_nfs | indent( width=4, indentfirst=True,blank=True) }}
{% endif %}

---
kind: PersistentVolumeClaim
apiVersion: v1
metadata:
  name: prometheus-adapter-volume-serving-cert-pvc
  namespace: monitoring
{% if boss__prometheus__operator__prometheus_adapter_volume_serving_cert_pvc_labels is defined %}
  labels:
{{ boss__prometheus__operator__prometheus_adapter_volume_serving_cert_pvc_labels | indent( width=4, indentfirst=True,blank=True) }}
{% endif %}
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: "{{ boss__prometheus__operator__prometheus_adapter_volume_serving_cert_pvc_spec_storageClassName }}"
  resources:
    requests:
      storage: "{{boss__prometheus__operator__prometheus_adapter_volume_serving_cert_pvc_spec_resources_requests_storage}}"
---
apiVersion: v1
kind: PersistentVolume
metadata:
  name: prometheus-adapter-volume-serving-cert-pv
  namespace: monitoring
  {% if boss__prometheus__operator__prometheus_adapter_volume_serving_cert_pv_labels is defined %}
    labels:
  {{ boss__prometheus__operator__prometheus_adapter_volume_serving_cert_pv_labels | indent( width=4, indentfirst=True,blank=True) }}
  {% endif %}
spec:
  capacity:
    storage: {{boss__prometheus__operator__prometheus_adapter_volume_serving_cert_pv_spec_capacity_storage}}
  accessModes:
    - ReadWriteMany
{% if boss__prometheus__operator__prometheus_adapter_volume_serving_cert_pv_spec_nfs is defined %}
  nfs:
{{ boss__prometheus__operator__prometheus_adapter_volume_serving_cert_pv_spec_nfs | indent( width=4, indentfirst=True,blank=True) }}
{% endif %}
