apiVersion: apps/v1beta2
kind: Deployment
metadata:
  labels:
    k8s-app: prometheus-operator
  name: prometheus-operator
  namespace: monitoring
spec:
  replicas: 1
  selector:
    matchLabels:
      k8s-app: prometheus-operator
  template:
    metadata:
      labels:
        k8s-app: prometheus-operator
    spec:
      containers:
      - args:
        - --kubelet-service=kube-system/kubelet
        - --logtostderr=true
        - --config-reloader-image={{boss__prometheus__operator__configmap_reload_image_repo}}:{{boss__prometheus__operator__configmap_reload_image_tag}}
        - --prometheus-config-reloader={{boss__prometheus__operator__prometheus_operator_config_reloader_image_repo}}:{{boss__prometheus__operator__prometheus_operator_config_reloader_image_tag}}
        - --config-reloader-memory=50Mi
        image: quay.io/coreos/prometheus-operator:{{boss__prometheus__operator__prometheus_operator_image_tag}}
        name: prometheus-operator
        ports:
        - containerPort: 8080
          name: http
{% if boss__prometheus__operator__prometheus_operator_config_reloader_deployment_spec_template_spec_containers_resources is defined %}
        resources:
{{ boss__prometheus__operator__prometheus_operator_config_reloader_deployment_spec_template_spec_containers_resources | indent( width=10, indentfirst=True,blank=True) }}
{% endif %}
        securityContext:
          allowPrivilegeEscalation: false
          readOnlyRootFilesystem: true
      nodeSelector:
        beta.kubernetes.io/os: linux
      securityContext:
        runAsNonRoot: true
        runAsUser: 65534
      serviceAccountName: prometheus-operator
