apiVersion: v1
kind: Service
metadata:
  name: grafana
  namespace: monitoring
  labels:
    # run: nginx
    app: grafana
spec:
  ports:
  - name: http
    port: 3000
    targetPort: http
  selector:
    app: grafana
    # run: nginx
