# https://medium.com/@awkwardferny/getting-started-with-kubernetes-ingress-nginx-on-minikube-d75e58f52b6c

# https://kubernetes.io/docs/concepts/services-networking/ingress/
# https://kubernetes.io/docs/reference/federation/extensions/v1beta1/definitions/
# https://medium.com/@cashisclay/kubernetes-ingress-82aa960f658e

apiVersion: extensions/v1beta1
kind: Ingress
metadata:
  name: prometheus-ingress
  namespace: {{boss__prometheus__operator__namespace_name}}
{% if boss__prometheus__operator__prometheus_ingress_metadata_annotations is defined %}
  annotations:
{{ boss__prometheus__operator__prometheus_ingress_metadata_annotations | indent( width=4, indentfirst=True,blank=True) }}
{% if boss__prometheus__operator__prometheus_ingress_metadata_labels is defined %}
  labels:
{{ boss__prometheus__operator__prometheus_ingress_metadata_labels | indent( width=4, indentfirst=True,blank=True) }}
spec:
  rules:
  - host: {{boss__prometheus__operator__prometheus_subdomain}}.{{domain_root}}
    http:
      paths:
      - path: /
        backend:
          serviceName: prometheus-k8s
          servicePort: 9090
