.vagrant

.DS_Store



**/.*.swp
**/.ropeproject
**/.cache
*.pyc
/venv
/docker-compose-*.yml

# Ignore all roles we install via galaxy
roles/angstwad.docker_ubuntu
roles/atosatto.docker-swarm
roles/bakhti.elk
roles/bas-ansible-roles-collection.git
roles/bas-ansible-roles-collection.system-core
roles/bas-ansible-roles-collection.system-groups
roles/bas-ansible-roles-collection.system-hostname
roles/bas-ansible-roles-collection.system-security
roles/bas-ansible-roles-collection.system-ssh
roles/bas-ansible-roles-collection.system-users
roles/bennojoy.ntp
roles/carlba.bash_aliases
roles/chrismeyersfsu.provision_docker
roles/dev-sec.os-hardening
roles/dev-sec.ssh-hardening
roles/geerlingguy.clamav
roles/geerlingguy.docker
roles/geerlingguy.dotfiles
roles/geerlingguy.gitlab
roles/geerlingguy.nodejs
roles/geerlingguy.security
roles/jdauphant.ssl-certs
roles/jorti.fail2ban
roles/joshualund.golang
roles/mjanser.powerline
roles/mmannerm.bash_it
roles/nickhammond.logrotate
roles/pablocrivella.nvm
roles/sadsfae.ansible-elk
roles/singleplatform-eng.users
roles/williamyeh.oracle-java
roles/yaegashi.blockinfile
roles/zzet.rbenv
roles/ANXS.build-essential
roles/ANXS.git

*.retry


.cache
.molecule
venv/
__pycache__
.vscode/tags
*.retry
.cache/
.molecule/
.tox/
tests/.cache/
tests/__pycache__/
playbook.retry

*.log


.vagrant

.DS_Store



**/.*.swp
**/.ropeproject
**/.cache
*.pyc
/venv
/docker-compose-*.yml

# Ignore all roles we install via galaxy
roles/angstwad.docker_ubuntu
roles/atosatto.docker-swarm
roles/bakhti.elk
roles/bas-ansible-roles-collection.git
roles/bas-ansible-roles-collection.system-core
roles/bas-ansible-roles-collection.system-groups
roles/bas-ansible-roles-collection.system-hostname
roles/bas-ansible-roles-collection.system-security
roles/bas-ansible-roles-collection.system-ssh
roles/bas-ansible-roles-collection.system-users
roles/bennojoy.ntp
roles/carlba.bash_aliases
roles/chrismeyersfsu.provision_docker
roles/dev-sec.os-hardening
roles/dev-sec.ssh-hardening
roles/geerlingguy.clamav
roles/geerlingguy.docker
roles/geerlingguy.dotfiles
roles/geerlingguy.gitlab
roles/geerlingguy.nodejs
roles/geerlingguy.security
roles/jdauphant.ssl-certs
roles/jorti.fail2ban
roles/joshualund.golang
roles/mjanser.powerline
roles/mmannerm.bash_it
roles/nickhammond.logrotate
roles/pablocrivella.nvm
roles/sadsfae.ansible-elk
roles/singleplatform-eng.users
roles/williamyeh.oracle-java
roles/yaegashi.blockinfile
roles/zzet.rbenv
roles/ANXS.build-essential
roles/ANXS.git

*.retry


.cache
.molecule
venv/
__pycache__
.vscode/tags
*.retry
.cache/
.molecule/
.tox/
tests/.cache/
tests/__pycache__/
playbook.retry

*.log
.vscode
_cache/
