[master]
rsyslogd-master-01.scarlettlab.home
[node]
rsyslogd-worker-01.scarlettlab.home


# Use FullyQualifiedDomainNames (FQDN) (e.g. machine1.corp.example.com)
[primary-master:children]
master

[secondary-masters]
# If there is only one master, make this section empty
# master[2:3].corp.example.com

[masters:children]
primary-master
secondary-masters

[primary-etcd:children]
primary-master

[secondary-etcds:children]
secondary-masters

[etcd:children]
primary-etcd
secondary-etcds

[nodes]
# If there is only one machine both master and node, make this section empty
rsyslogd-worker-01.scarlettlab.home

[node:children]
nodes



# ------------


[kubernetes-master:children]
primary-master
secondary-masters

[kubernetes-master:vars]
nfs__kubernetes__kubeadm__server_type=master
is_master=true

[kubernetes-nodes:children]
nodes

[kubernetes-nodes:vars]
nfs__kubernetes__kubeadm__server_type=node
is_master=false

[kubernetes:children]
kubernetes-master
kubernetes-nodes

[all:children]
kubernetes

[servers:children]
kubernetes-master
kubernetes-nodes
