ansible>=2.5,<2.6
yolk3k
ansible-lint
pyaml
autopep8
mitogen
yamllint
ansigenome
pylint
isort
jinja2-cli[yaml]
autopep8
netaddr
pretty
python-slugify
six
simplejson
shade
awscli
boto
boto3
botocore
ansible-inventory-grapher
ansible-playbook-grapher
