ansible>=2.5,<2.10
awacs
awscli
bcdoc
boto3
jinja2-cli[yaml]
jsonschema
mitogen
netaddr
# openshift
pretty
pyaml
python-slugify
PyYAML
requests
# shade
simplejson
six
subprocess32
# yamllint
# yamlreader
# yolk3k
pbr
