Host bosslab-master-01*
  User vagrant
  Port 22
  UserKnownHostsFile /dev/null
  StrictHostKeyChecking no
  PasswordAuthentication no
  IdentityFile /Users/malcolm/dev/bossjones/bossjones-playbook-suite/boss-ansible-role-nfs/.vagrant/machines/bosslab-master-01/virtualbox/private_key
  IdentitiesOnly yes
  LogLevel FATAL

Host bosslab-worker-01*
  User vagrant
  Port 22
  UserKnownHostsFile /dev/null
  StrictHostKeyChecking no
  PasswordAuthentication no
  IdentityFile /Users/malcolm/dev/bossjones/bossjones-playbook-suite/boss-ansible-role-nfs/.vagrant/machines/bosslab-worker-01/virtualbox/private_key
  IdentitiesOnly yes
  LogLevel FATAL


Host bosslab-worker-02*
  User vagrant
  Port 22
  UserKnownHostsFile /dev/null
  StrictHostKeyChecking no
  PasswordAuthentication no
  IdentityFile /Users/malcolm/dev/bossjones/bossjones-playbook-suite/boss-ansible-role-nfs/.vagrant/machines/bosslab-worker-02/virtualbox/private_key
  IdentitiesOnly yes
  LogLevel FATAL

Host bosslab-proxy-01*
  User vagrant
  Port 22
  UserKnownHostsFile /dev/null
  StrictHostKeyChecking no
  PasswordAuthentication no
  IdentityFile /Users/malcolm/dev/bossjones/bossjones-playbook-suite/boss-ansible-role-nfs/.vagrant/machines/bosslab-proxy-01/virtualbox/private_key
  IdentitiesOnly yes
  LogLevel FATAL

