apiVersion: v1
kind: Service
metadata:
  name: {{boss__efk__shared_name}}-logging
  namespace: {{boss__efk__namespace_name}}
{% if boss__efk__elasticsearch_service_labels is defined %}
{% if boss__efk__elasticsearch_service_labels == "disabled" %}
  # labels:
{% else %}
  labels:
{{ boss__efk__elasticsearch_service_labels | indent( width=4, indentfirst=True,blank=True) }}
{% endif %}
{% endif %}
{% if boss__efk__elasticsearch_service_annotations is defined %}
{% if boss__efk__elasticsearch_service_annotations == "disabled" %}
  # annotations:
{% else %}
  annotations:
{{ boss__efk__elasticsearch_service_annotations | indent( width=4, indentfirst=True,blank=True) }}
{% endif %}
{% endif %}
spec:
  type: {{boss__efk__elasticsearch_service_spec_type}}
{% if boss__efk__elasticsearch_service_spec_ports is defined %}
  ports:
{{ boss__efk__elasticsearch_service_spec_ports | indent( width=4, indentfirst=True,blank=True) }}
{% endif %}
{% if boss__efk__elasticsearch_service_spec_selector is defined %}
  selector:
{{ boss__efk__elasticsearch_service_spec_selector | indent( width=4, indentfirst=True,blank=True) }}
{% endif %}
