apiVersion: v1
kind: Service
metadata:
  name: elasticsearch-logging
  namespace: {{boss__efk__namespace_name}}
{% if boss__efk__elasticsearch_service_labels is defined %}
  labels:
{{ boss__efk__elasticsearch_service_labels | indent( width=4, indentfirst=True,blank=True) }}
{% endif %}
spec:
  ports:
  - port: 9200
    protocol: TCP
    targetPort: db
  selector:
    k8s-app: elasticsearch-logging
