#
apiVersion: extensions/v1beta1
kind: Ingress
metadata:
  name: {{boss__efk__elasticsearch_subdomain}}-ingress
  namespace: {{boss__efk__namespace_name}}
{% if boss__efk__elasticsearch_ingress_labels is defined %}
{% if boss__efk__elasticsearch_ingress_labels == "disabled" %}
  # labels:
{% else %}
  labels:
{{ boss__efk__elasticsearch_ingress_labels | indent( width=4, indentfirst=True,blank=True) }}
{% endif %}
{% endif %}
{% if boss__efk__elasticsearch_ingress_annotations is defined %}
{% if boss__efk__elasticsearch_ingress_annotations == "disabled" %}
  # annotations:
{% else %}
  annotations:
{{ boss__efk__elasticsearch_ingress_annotations | indent( width=4, indentfirst=True,blank=True) }}
{% endif %}
{% endif %}
spec:
  rules:
  - host: {{boss__efk__elasticsearch_subdomain}}.{{ domain_root }}
    http:
{% if boss__efk__elasticsearch_ingress_spec_rules_http_paths is defined %}
{% if boss__efk__elasticsearch_ingress_spec_rules_http_paths == "disabled" %}
      # paths:
{% else %}
      paths:
{{ boss__efk__elasticsearch_ingress_spec_rules_http_paths | indent( width=6, indentfirst=True,blank=True) }}
{% endif %}
{% endif %}
