apiVersion: v1
kind: Service
metadata:
  name: kibana-logging
  namespace: {{boss__efk__namespace_name}}
{%   if boss__efk__kibana_service_labels is defined %}
  labels:
    {{ boss__efk__kibana_service_labels | to_nice_yaml(indent=2) }}
{%   endif %}
spec:
  ports:
  - port: 5601
    protocol: TCP
    targetPort: ui
  selector:
    k8s-app: kibana-logging
