apiVersion: v1
kind: Service
metadata:
  name: kibana-logging
  namespace: {{boss__efk__namespace_name}}
{%   if boss__efk__kibana_service_labels is defined %}
  labels:
{{ boss__efk__kibana_service_labels | indent( width=4, indentfirst=True,blank=True) }}
{%   endif %}
spec:
  ports:
  - port: 5601
    protocol: TCP
    targetPort: ui
  selector:
    k8s-app: kibana-logging
