---
apiVersion: v1
kind: Namespace
metadata:
  name: backup
  labels:
    name: backup

---
kind: PersistentVolumeClaim
apiVersion: v1
metadata:
  name: minio-pvc
  namespace: backup
  labels:
    app: minio
    kubernetes.io/cluster-service: "true"
    addonmanager.kubernetes.io/mode: Reconcile
    k8s-app: minio
    boss-part-of: minio

spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: "nfs-dynamic-class"
  resources:
    requests:
      storage: "2Gi"

---
apiVersion: v1
kind: PersistentVolume
metadata:
  name: minio-pv
  namespace: backup
  labels:
    app: minio
    kubernetes.io/cluster-service: "true"
    addonmanager.kubernetes.io/mode: Reconcile
    k8s-app: minio
    boss-part-of: minio
spec:
  capacity:
    storage: 2Gi
  accessModes:
    - ReadWriteMany
  nfs:
    server: 192.168.205.12
    path: "/mnt/publicdata/backup"

---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: minio
  namespace: backup
  labels:
    app: minio
spec:
  replicas: 1
  selector:
    matchLabels:
      app: minio
  template:
    metadata:
      labels:
        app: minio
    spec:
      containers:
      - name: minio
        image: minio/minio:latest
        imagePullPolicy: Always
        args:
        - server
        - /storage
        env:
        - name: MINIO_ACCESS_KEY
          valueFrom:
            secretKeyRef:
              name: minio-credentials
              key: key
        - name: MINIO_SECRET_KEY
          valueFrom:
            secretKeyRef:
              name: minio-credentials
              key: secret
        ports:
        - containerPort: 9000
        volumeMounts:
        - name: storage
          mountPath: "/storage"
      volumes:
      - name: storage
        persistentVolumeClaim:
          claimName: minio-pvc

---
apiVersion: v1
kind: Service
metadata:
  namespace: backup
  name: minio
  labels:
    app: minio
spec:
  type: ClusterIP
  ports:
    - port: 9000
      targetPort: 9000
      protocol: TCP
  selector:
    app: minio
---
apiVersion: extensions/v1beta1
kind: Ingress
metadata:
  name: kubernetes-dashboard
  namespace: backup
  annotations:
    traefik.frontend.rule.type: PathPrefix
spec:
  rules:
  - host: minio.internal.scarlettlab.com
    http:
      paths:
      - path: /
        backend:
          serviceName: minio
          servicePort: 9000
