listen:
  address: {{boss__unifi__exporter__listen_address}}
  metricspath: {{boss__unifi__exporter__listen_metricspath}}
unifi:
  address: {{boss__unifi__exporter__unifi_address}}
  username: {{unifi_exporter_username}}
  password: {{unifi_exporter_password}}
  site: {{boss__unifi__exporter__unifi_site}}
  insecure: {{boss__unifi__exporter__unifi_insecure}}
  timeout: {{boss__unifi__exporter__unifi_timeout}}
