apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  labels:
    k8s-app: unifi-exporter
    component: unifi-exporter
  name: unifi-exporter
  namespace: {{boss__unifi__exporter__namespace_name}}
spec:
  jobLabel: k8s-app
  selector:
    app: unifi-exporter
  namespaceSelector:
    matchNames:
    - monitoring
  endpoints:
  - interval: 60s
    port: http-metrics
    # path: "/unifi"
    path: "{{boss__unifi__exporter__listen_metricspath}}"
    targetPort: {{boss__unifi__exporter__port}}
