listen:
  address: :9130
  metricspath: /metrics
unifi:
  address: http://192.168.1.8:8443
  username: {{unifi_exporter_username}}
  password: {{unifi_exporter_password}}
  site: Default
  insecure: false
  timeout: 5s
