---
kind: PersistentVolumeClaim
apiVersion: v1
metadata:
  name: grafana-pvc
  namespace: kube-system
  labels:
    kubernetes.io/cluster-service: "true"
    addonmanager.kubernetes.io/mode: Reconcile
    k8s-app: prometheus-operator
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: "nfs-dynamic-class"
  resources:
    requests:
      storage: "2Gi"
---
apiVersion: v1
kind: PersistentVolume
metadata:
  name: grafana-pv
  namespace: kube-system
  labels:
    kubernetes.io/cluster-service: "true"
    addonmanager.kubernetes.io/mode: Reconcile
    k8s-app: prometheus-operator
    boss-part-of: prometheus-operator
spec:
  capacity:
    storage: 2Gi
  accessModes:
    - ReadWriteMany
  nfs:
    server: 192.168.1.174
    path: "/mnt/publicdata/grafana"

---
kind: PersistentVolumeClaim
apiVersion: v1
metadata:
  name: prometheus-adapter-tmpfs-pvc
  namespace: kube-system
  labels:
    kubernetes.io/cluster-service: "true"
    addonmanager.kubernetes.io/mode: Reconcile
    k8s-app: prometheus-operator
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: "nfs-dynamic-class"
  resources:
    requests:
      storage: "2Gi"
---
apiVersion: v1
kind: PersistentVolume
metadata:
  name: prometheus-adapter-tmpfs-pv
  namespace: kube-system
  labels:
    kubernetes.io/cluster-service: "true"
    addonmanager.kubernetes.io/mode: Reconcile
    k8s-app: prometheus-operator
    boss-part-of: prometheus-operator
spec:
  capacity:
    storage: 2Gi
  accessModes:
    - ReadWriteMany
  nfs:
    server: 192.168.1.174
    path: "/mnt/publicdata/prometheus-adapter-tmpfs"


---
kind: PersistentVolumeClaim
apiVersion: v1
metadata:
  name: prometheus-adapter-volume-serving-cert-pvc
  namespace: kube-system
  labels:
    kubernetes.io/cluster-service: "true"
    addonmanager.kubernetes.io/mode: Reconcile
    k8s-app: prometheus-operator
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: "nfs-dynamic-class"
  resources:
    requests:
      storage: "2Gi"
---
apiVersion: v1
kind: PersistentVolume
metadata:
  name: prometheus-adapter-volume-serving-cert-pv
  namespace: kube-system
  labels:
    kubernetes.io/cluster-service: "true"
    addonmanager.kubernetes.io/mode: Reconcile
    k8s-app: prometheus-operator
    boss-part-of: prometheus-operator
spec:
  capacity:
    storage: 2Gi
  accessModes:
    - ReadWriteMany
  nfs:
    server: 192.168.1.174
    path: "/mnt/publicdata/prometheus-adapter-volume-serving-cert"
