---
apiVersion: v1
kind: Service
metadata:
  name: exporter-calico
  namespace: {{ boss__calico__namespace_name }}
  labels:
    app: exporter-calico
    component: calico-node
spec:
  type: ClusterIP
  clusterIP: None
  ports:
    - name: metrics
      port: {{boss__calico__felix_PrometheusMetricsPort}}
      targetPort: {{boss__calico__felix_PrometheusMetricsPort}}
      protocol: TCP
  selector:
    k8s-app: calico-node
