---
apiVersion: v1
kind: Namespace
metadata:
  name: {{boss__influxdb__operator__namespace_name}}
---
kind: PersistentVolumeClaim
apiVersion: v1
metadata:
  name: influxdb-data-pvc
  namespace: {{boss__influxdb__operator__namespace_name}}
{% if boss__influxdb__operator__persistent_volume_claim_labels is defined %}
  labels:
{{ boss__influxdb__operator__persistent_volume_claim_labels | indent( width=4, indentfirst=True,blank=True) }}
{% endif %}
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: "nfs-dynamic-class"
  resources:
    requests:
      storage: "{{boss__influxdb__operator__persistent_volume_claim_spec_resources_requests_storage}}"

---
apiVersion: v1
kind: PersistentVolume
metadata:
  name: influxdb-data-pv
  namespace: {{boss__influxdb__operator__namespace_name}}
{% if boss__influxdb__operator__persistent_volume_labels is defined %}
  labels:
{{ boss__influxdb__operator__persistent_volume_labels | indent( width=4, indentfirst=True,blank=True) }}
{% endif %}
spec:
  capacity:
    storage: {{boss__influxdb__operator__persistent_volume_spec_capacity_storage}}
  accessModes:
    - ReadWriteOnce
  persistentVolumeReclaimPolicy: Delete
  nfs:
    server: {{boss__influxdb__operator__nfs_master_node_ip}}
    path: "{{boss__influxdb__operator__persistent_volume_spec_nfs_path}}"
