# NOTE: Run this first - helm install --name metallb-release stable/metallb --namespace metallb-system

kind: ConfigMap
apiVersion: v1
metadata:
  namespace: {{boss__metallb__namespace_name}}
  name: config
data:
  config: |
    address-pools:
    - name: default
      protocol: layer2
      addresses:
      - {{boss__metallb__address_pools}}
