# {{ansible_managed}}
apiVersion: rbac.authorization.k8s.io/v1beta1
kind: ClusterRole
metadata:
  name: {{boss__elasticsearch__exporter__shared_name}}
{% if boss__elasticsearch__exporter__cluster_role_rules is defined %}
{% if boss__elasticsearch__exporter__cluster_role_rules == "disabled" %}
# rules:
{% else %}
rules:
{{ boss__elasticsearch__exporter__cluster_role_rules | indent( width=2, indentfirst=True,blank=True) }}
{% endif %}
{% endif %}
