# Copyright 2016 The Kubernetes Authors All rights reserved.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

apiVersion: v1
kind: Service
metadata:
  name: default-http-backend
  namespace: {{boss__ingress__nginx__namespace_name}}
{% if boss__ingress__nginx__service__default_http_backend_labels is defined %}
  labels:
{{ boss__ingress__nginx__service__default_http_backend_labels | indent( width=4, indentfirst=True,blank=True) }}
{% endif %}

{% if boss__ingress__nginx__service__default_http_backend_annotations is defined %}
{% if boss__ingress__nginx__service__default_http_backend_annotations == False %}
  # annotations:
{% else %}
  annotations:
{{ boss__ingress__nginx__service__default_http_backend_annotations | indent( width=4, indentfirst=True,blank=True) }}
{% endif %}
{% endif %}
spec:
  type: {{boss__ingress__nginx__service_default_http_backend_spec_type}}
{% if boss__ingress__nginx__service_ingress_nginx_spec_type == "LoadBalancer" %}
  externalTrafficPolicy: Local
{% endif %}


{% if boss__ingress__nginx__service_defaulthttpbackend_spec_ports is defined %}
  ports:
{{ boss__ingress__nginx__service_defaulthttpbackend_spec_ports | indent( width=4, indentfirst=True,blank=True) }}
{% endif %}
{% if boss__ingress__nginx__service_defaulthttpbackend_selector_labels is defined %}
  selector:
{{ boss__ingress__nginx__service_defaulthttpbackend_selector_labels | indent( width=4, indentfirst=True,blank=True) }}
{% endif %}
